[2017-02-28 16:33] Argelbargel opened #1 "Support GitLab CI-API"
- register a runner (shared or specific for each project?)
- option to query for builds instead of webhooks?
- query for build on run (ensure the build is for the run)
- report state and optionally trace run
- publish artifacts (optionally, restricted by pattern so intermediate artifacts only relevant to Jenkins are possible)

[2017-02-28 20:49] Argelbargel opened #2 "Display of Project configuration is broken"
When opening the configuration of a project, loading of configuration stops/hangs after the build strategy. Is this a bug of our jelly code or is there just no working support for custom branch-build-strategies yet (I am brute forcing them into the project on creation via an item listener as of now)?

[2017-02-28 23:32] Argelbargel opened #3 "Support scan restrictions to groups and single users"
Currently the navigator supports only restricting projects by pattern and other parameters exposed by Gitlab's API. With a little effort it should be possible to allow restricting the scan to single groups or users like github-branch-source does.

[2017-03-02 08:46] ace13 opened #4 "Add a Project selector for 'member'"
So that it only lists the projects which the Jenkins user is a member of.

[2017-03-02 09:44] Argelbargel commented on #4
Do you mean the user currently logged into jenkins or the user used to connect to gitlab?

[2017-03-02 12:17] ace13 commented on #4
The Jenkins user for the Gitlab connection.

Our Gitlab instance already has the Jenkins user as a member of all
projects where builds are to happen, since Jenkins requires developer
rights to publish build results and such.
Would be very helpful if we could keep that integration, so all that people
need to do is add Jenkins as a developer on their projects to get builds
running.

On 2 Mar 2017 10

[2017-03-02 13:47] Argelbargel commented on #4
Hmmm... i'look into it, but this should work right now when you set the project selector to "visible". The Gitlab-API only lists those project where the current user is a member of (or a member of the group of the project); even the root user or a user with admin role cannot list/see projects he is not a member of (i'm using this endpoint when scanning for projects: https://docs.gitlab.com/ee/api/

[2017-03-02 14:19] ace13 commented on #4
You know, it's actually possible that this already works the way it should - just that we have too many projects for it to manage properly.
Seem to have another issue though with the scan breaking partway through on a 403 error, so that could certainly help make it look wrong.

Guess you can close this issue.

[2017-03-02 14:27] Argelbargel commented on #4
Oh. Well i am not rate-limiting the connection right now - so yes this could be the real culprit. Could you confirm this? E.g. by restricting the amount of projects by pattern? We have around 20 projects currently and this works but perhaps if there are more than x projects it breaks down?

Another reason could be that i'm trying to do something which the user is not allowed to do with developer r

[2017-03-02 14:28] #4 closed

[2017-03-02 14:35] ace13 opened #5 "Scan for GitLab projects fails with a 403 error"
The scan seems to die on the same project every time, where Jenkins user is a developer on the project in question - which is also a public project.

![Project settings](https://cloud.githubusercontent.com/assets/534460/23511322/fc473704-ff5c-11e6-8f9e-bc276c60fbc5.png)
![Member list](https://cloud.githubusercontent.com/assets/534460/23511323/fc7e417c-ff5c-11e6-877b-95dbc0a2bc01.png)

So the likel

[2017-03-02 14:42] ace13 commented on #5
I think I've all but confirmed the fact that it's a rate-limit being hit now, no query is allowed by the Jenkins user anymore.

[2017-03-02 15:40] Argelbargel commented on #5
Ouch :-/ Sorry!
I'll try to find out how to rate-limit the api-calls. But the documentation is very sparse here.

Could you check which paths are protected by rack-attack in your gitlab-server? They are configured in /etc/gitlab/gitlab.rb:

'''
# gitlab_rails['rack_attack_protected_paths'] = [
# <paths>
# ]
'''
In my default-installation only api/.../session is protected and if i understand the ge

[2017-03-02 16:12] ace13 commented on #5
Currently running with the default rack attack settings (as in, what gets written when nothing's set in `gitlab.rb`);
[code]

None of those paths should be hit by the scanning from what I can see.

I assume that the Jenkins machine in question to add to the whitelist should be the build slave.

[2017-03-02 16:25] Argelbargel commented on #5
I'm not sure, but i think scanning is done on the master, not the slaves. Only the checkout on/before build will happen on the slaves.

[2017-03-02 16:53] #2 closed

[2017-03-02 18:09] Argelbargel commented on #3
GitLab-API does not export an API which allows us to restrict the project scan to the projects to those visible by another user than the one specified in the gitlab connection. thus only group-restriction is implemented

[2017-03-02 18:09] #3 closed

[2017-03-06 08:36] ananace opened #6 "Support note events"
Our current setup uses the note event to do conditional builds in Jenkins, something that I'm noticing is lacking on here.

For instance;
[code]

Which in turn means that you can respond to a merge request with something like `@jenkins: debug` to get a rebuild with additional debugging information to try and help figure out why it's broken.

[2017-03-06 08:44] ace13 commented on #5
Got some additional information to add to this issue, found one of the projects that Jenkins tries to scan which always results in a 403 error.

The project in question only exists as a docker container repository, meaning it's bare of files and it has merge-requests disabled, which seems to lead to issues for the scan.

Here displayed through the power of cURL;
[code]

[2017-03-06 14:44] ace13 opened #7 "Merge requests use the wrong type of ID"
I noticed that the Merge request view shows the global ID instead of the project specific one. (ID instead of IID)
The ID values don't map to project-specific ones, so the title and link are broken.

[2017-03-06 16:08] Argelbargel commented on #6
I didn't implement note event for the sole reason that I don't like them :-) I think, commit-messages should tell users/other developers about changes in the code and should not be used to trigger functionality.

As the Gitlab-plugin supports them and they're convenient in some situations, whatever I think, I'll look into it. As the basic support is already present this should not be hard to imple

[2017-03-07 16:13] Argelbargel opened #8 "Switch license to GPL"
The Gitlab-Plugin uses the GPL instead of MIT license. As there are plans to merge both plugins I am going to switch the license th gpl for the next release.

[2017-03-14 16:40] #8 closed

[2017-03-14 22:32] #7 closed

[2017-03-15 16:22] Argelbargel commented on #5
Hi @ace13,

i think, i've fixed the problem when merge-requests are disabled (your last post). Still working on the rate-limiting...

[2017-03-15 16:45] Argelbargel commented on #5
Hi @ace13,

i did some debugging and at least my gitlab does not send any headers containing information about the allowed request-rate. So i'm not sure how to limit the requests (the only way would be to configure them in the global jenkins settings). Did the whitelisting have any effect for your setup?

[2017-03-15 18:24] Argelbargel opened #9 "Newly created projects that do not yet match the SCMCriteria are not detected by events"
When a new project is created it does not yet match the SCMCriteria looking for a Jenkinsfile (as the project is empty). As we do not create a Workflow-Project in this case, no GitlabSource is created and thus no webhook registered and we do not get informed when a Jenkinsfile is pushed to the project later on.

Possible (a bit convoluted) solution: enable push-events for the system-hook and regis

[2017-03-15 18:26] ace13 commented on #5
I think the thing I hit was the rack-attack limit, which only seems to count on requests that fail with 4XX error codes. So generally just not running any requests that are guaranteed to fail should help with that issue.

Not sure what the actual API rate-limit could be, so I'm unsure too on how to do a proper limit for that.

Didn't actually apply the whitelisting, instead just dropped the rescan

[2017-03-15 21:21] Argelbargel commented on #5
I do not see any clever way to swallow exceptions as the java-gitlab-api does just throws IOExceptions and there is no elegant way to check for the cause (e.g. 403 status code). So for now i'm just relying on not making requesting merge-requests when they are not enabled for a project.

[2017-03-15 21:21] #5 closed

[2017-03-16 16:20] Argelbargel opened #10 "When multiple GitLabSCMNavigators use the same connections, system-hook might get deleted"
When there are multipe gitlab-branch-source-folders using the same connection and one of them is removed, the system-hook gets deleted and the remaining folders receive not further events (might be the case for project-hooks, too)

[2017-03-16 16:32] Argelbargel opened #11 "Project-Webhooks are registered, even if there is no job created for it"
When one creates a new project in gitlab, the plugin receives a system-event. if the project matches in the scan triggered by the event, there is a temporary source created for the project to check for branches and to see wether it matches the scmcriteria (e.g. does it have a Jenkinsfile). As this source is "saved" internally this already registers a project-webhook in gitlab.

If the project does

[2017-03-16 17:24] Argelbargel opened #12 "Every save on GitLabSCMNavigator adds a new webhook-listener"
the current implementation of HookManager is solely based on the hookid which is just an hash over the connection-url. thus everytime an GitLabSCMNavigator is saved, it adds a new listener. When the owner of the GitlabSCMNavigator is deleted, the system-hook is not deleted because the HookManager has still further usages for it.

The best solution would be to base HookManager on the Items and or t

[2017-03-16 18:20] #11 closed

[2017-03-17 11:46] Argelbargel opened #13 "Make webhook-urls compliant to gitlab-plugin"
Currently the urls of the webhooks registered by gitlab-branch-source contain a hash of the gitlab-server-url and the project-Id when appropriate and do not require a "secret" token. (e.g. <jenkins-root-url>/345876064/456)

The gitlab-plugin registers urls containing the path to the job that should receive events (e.g. <jenkins-root-url>/path/to/job).

As perspectively we want to merge the plugins

[2017-03-27 09:21] ace13 opened #14 "Build status not being published"
As the title says, here's all the messages posted in the log during the build;

[code]

And an excerpt from the project-specific job XML;

[code]

[2017-03-27 09:41] Argelbargel commented on #14
Hi again ;-)

i'll look into the NPE in GitLabSCMPublishAction. I'm not sure whether the other exception relates to gitlab-branch-source, though. Could also be a problem/bug in blueocean or the pubsub-light-plugin.

[2017-03-27 10:37] ace13 commented on #14
Considering the fact that it's talking about BlueOcean, I'm assuming that specific message relates to something in the BlueOcean UI. But I wanted to grab the entire log from the build just in case.

I'm curious though why there's not a single message from the build status publisher during the build though, seeing as it should be publishing build statuses for every stage.

An example layout for our

[2017-03-27 10:50] Argelbargel commented on #14
I'm not sure myself, but it seems that calling getActions(...).clear() does not always return the action i'm using to keep track of the stages and such. As this only happens at the end of the build, the statuses of the stages should be published.

[2017-03-28 13:42] ace13 commented on #14
Interesting, today I recreated the Gitlab folder to try out some other workflow libraries for internal things.

Still not getting any build statuses, but the error has disappeared.
[code]

[2017-03-29 08:51] ace13 commented on #14
I managed to get build information to be published again through lots of cleanup - basically a full reinstall of Jenkins.
It's still not reported properly though, so might've worked before just without me noticing it.

Here's an example screenshot of what's happening;
![screenshot_20170329_104704](https://cloud.githubusercontent.com/assets/534460/24446266/2730d586-146d-11e7-8d26-03d6901b8c40.png)

[2017-03-29 09:04] ananace opened #15 "Set GitLab build status to pending before the build starts"
In case no executors are ready when a commit is pushed, to tell GitLab that a build will be happening as soon as possible.

Should prevent people from seeing things like this when the Jenkins instance is busy;
![screenshot_20170329_110316](https://cloud.githubusercontent.com/assets/534460/24446864/53294b62-146f-11e7-9a6c-c80f3612344e.png)

[2017-03-29 10:19] Argelbargel commented on #14
Ok. I think that's easy to fix.

[2017-03-29 15:43] Argelbargel commented on #15
TODO: implement [QueueListener#onEnterWaiting()](http://javadoc.jenkins-ci.org/hudson/model/queue/QueueListener.html#onEnterWaiting(hudson.model.Queue.WaitingItem)).

[2017-03-30 15:00] Argelbargel commented on #15
It seems that this cannot be done (at least not easily). To update a commit's build-status gitlab requires a reference to a commit. The commit-id is determined when the actual run is started after it left the queue.

In theory i could update the build-status to pending when an event triggered via a webhook matches a source but then the plugin would behave different for manually triggered builds an

[2017-03-30 15:13] Argelbargel commented on #15
@ace13: i also wonder why you're getting the message about gitlab not being able to connect to the ci-server. Right now gitlab "knows" about jenkins only insofar as it receives build-status-updates from it. The plugin does not register Jenkins as a runner or anything. So i do not know why/how it should try to connect to it.

Do get this message even before the first build-status-update is sent for

[2017-03-30 15:28] ace13 commented on #15
The "Failed to connect" message seems to only occur in the very rare instance where the build has received a status report from before the merge request is created, and then no messages following that point. So that it seems to GitLab like the pipeline suddenly disappeared into the ether.

---

One of the problems we have is that if the build doesn't report anything inside of a short window, then

[2017-03-30 15:56] Argelbargel commented on #15
@ace13: thought so. this must mean that gitlab remembers to url of the last update and tries to determine that state from that. as i haven't implemented the required handler yet it reports the error. i'll see if i can fix that by implementing the handler.

[2017-04-19 14:59] ace13 opened #16 "Failing to scan for projects"
Scan log is;

[code]

[2017-04-22 21:37] #16 closed

[2017-05-02 06:58] ace13 commented on #14
I don't suppose there's been any progress on this fix?

Really want to start using this on the side, so I can begin phasing out the ~5k lines of Groovy code that emulates proper Jenkins pipelines in our system.

[2017-05-02 12:54] Argelbargel commented on #14
Hi @ace13,

sorry, been a bit busy at work. No there is no progress on this bug yet. I'll try to fix this and release a new snapshot tomorrow night...

[2017-05-03 20:31] #10 closed

[2017-05-03 20:31] #12 closed

[2017-05-03 21:07] Argelbargel commented on #14
Hi @ace13,

could you try out the new release? Publishing the build-status/linking to the right commit seems to be working (at least for my local install). Like to hear back and hope that you'll be able to use the plugin.

Kind regards,

Argelbargel

[2017-05-03 21:07] #14 closed

[2017-05-08 14:31] ace13 opened #17 "Name merge requests in a more sortable manner"
Currently, the naming of the merge request jobs makes it hard to order them with a good metric, especially on projects where lots of MRs are posted.

![screenshot_20170508_162604](https://cloud.githubusercontent.com/assets/534460/25808671/1d660888-340b-11e7-9272-fbe6cdcda120.png)

Perhaps a better naming scheme would be to have the merge request ID at the start of the name;

`!4 - Merge request ti

[2017-05-09 15:24] #17 closed

[2017-05-10 06:36] i386 opened #18 "Cant select Gitlab SCM source in multibranch pipeline"
First of all - its AWESOME that this plugin exists! I am investigating how soon we can add it to Blue Ocean... got time to chat? Drop me a line at jdumay@cloudbees.com

Ok, so heres an issue I found:

*Problem*
You should be able to pick the Gitlab Project `SCMSource` from the list of sources in the Multibranch Pipeline project type.

*Steps to reproduce*

1. Have the Gitlab plugin installed
2. Go

[2017-05-19 13:57] ananace opened #20 "Marking of MR jobs as (merged) seems a bit aggressive"
As seen on this picture, the MR is certainly not merged yet.

![screenshot_20170519_155552](https://cloud.githubusercontent.com/assets/534460/26250876/c2fb24c4-3cab-11e7-8a80-febb49a82778.png)

[2017-05-19 16:04] Argelbargel commented on #20
Okay :-) It is not meant that way. (merged) should indicate, that this job builds the changes of the merge-request merged into the target branch vs the unmarked job which builds the source-branch of the merge-request as it is.

What do you think would be a better wording?

[2017-05-19 16:06] ace13 commented on #20
Ahh, that wording would definitely need to be updated indeed. Perhaps put a
more detailed sentence in the description of the MR job?

On 19 May 2017 6:04 pm, "Karsten Kraus" <notifications@github.com> wrote:

[2017-05-19 16:34] Argelbargel commented on #20
For now, i've just removed the 'd' ;-)

[2017-05-19 16:51] ace13 commented on #20
(merge) would certainly be less confusing.

I still feel like this should be written somewhere outside of the job title
for the best result though.
The correct wording would no doubt be too long to stick into a set of
parentheses after all.

On 19 May 2017 6:34 pm, "Karsten Kraus" <notifications@github.com> wrote:

For now, i've just removed the 'd' ;-)

—
You are receiving this because you author

[2017-05-19 17:35] Argelbargel commented on #20
I think there has some difference in the names as both jobs are shown in the same view (the tabs are only ui-sugar as far as i understand it). So (merge) or (m) or something like that will have to be. I'll see if i find a way to add a longer explanation to the jobs description.

[2017-05-19 17:41] ace13 commented on #20
Is there any way to do the merge both merged against the branch and as a loose head at the same time?

I thought you had to choose between one or the other, so where would the collision be - if that's the concern?

[2017-05-19 18:03] Argelbargel commented on #20
Yes, you can enable the building of both the merged and unmerged heads in the advanced options.

[2017-05-19 18:28] ace13 commented on #20
Ah, I thought that checkbox was for choosing between merged and unmerged head, not for choosing if you want both or only merged.

Probably best to improve the wording of that option as well.
"Build unmerged head" sounds very definite, and the description does nothing to dissuade that thought.

[2017-05-20 15:57] Argelbargel commented on #20
Okay, i get your issue. I wanted to name the plugin's options accordingly to the respective options in the github-branch-plugin. The help-descriptions were partly my own though and my english is not fluent enough in all situations ;-) I've now changed them to more closely match those of the github-branch-plugin.

Keeping this open though - perhaps we'll find some better namings and descriptions to

[2017-05-20 17:25] Argelbargel commented on #18
Ok, i think i've understood now what needs to be done to make this work. As all the configuration is currently done in the navigator-class, this will take some time to properly modulize so that the configuration can also be done for a single scm-source, but im working on it...

[2017-05-21 01:33] i386 commented on #18
@Argelbargel awesome! Let us know if there is any way we can help :)

[2017-05-22 09:05] ace13 opened #21 "Jobs lose their gitlab connections in the middle of builds"
Started running into a new issue now, when starting to deploy this onto our production Jenkins.

When a build runs, it seems to lose the GitLab connection property partway through. Filling the log up with messages to the tune of;
[code]

Worth noting is that if I set a connection property just before starting the build - while using build status reporting as `result`, then it manages to publish a

[2017-05-22 09:15] ace13 commented on #21
As a side-note, for my own API usage in the pipeline scripts I've been using something more along the lines of;
[code]

[2017-05-23 12:38] #21 closed

[2017-05-23 12:42] Argelbargel commented on #21
I've changed the publishing of build-statuses in 0.6.4 so that it does not rely on the GitLabConnectionProperty anymore. Hope this fixes your problem

[2017-05-24 06:55] ace13 commented on #21
Build status reporting indeed seems to do what it's supposed to now, many thanks.

[2017-05-30 22:57] Argelbargel opened #22 "Write. Some. Tests!"
Obviously we need tests. At least for anything that's testable without running a jenkins-instance but it would be preferable to have some end-to-end tests to. Note to self: look into the jenkins-test-harness

[2017-05-30 23:05] Argelbargel commented on #18
Hi @i386, i just released a version (0.7-dev) that seems to work with multibranch-pipeline projects. While definitively not production-ready yet, it would be nice if you could test it out and give some feedback.

[2017-06-27 08:28] ananace opened #23 "Allow for publishing build status updates on manually launched builds"
Currently, the only build status updates that happen seem to be due to either webhooks from the GitLab projects themselves, or when a project scan runs in Jenkins.

It would be nice if build status changes were published for builds launched by the 'Build Now' feature as well.

[2017-06-27 22:23] Argelbargel commented on #23
I think that is because the action carrying the required data is added only when the build is triggered that way. Might also be that i actively disabled it because I only wanted the gitlab-pipeline to run when there was a commit as the build status updates get confusing when there are updates form multiple builds (just like with the gitlab-plugin). Either way, I'll look into it...

[2017-06-28 17:04] Argelbargel opened #24 "Switch API to V4"
- V3 will be deprecated with Gitlab 9.5 to be released end of august
- supporting both versions would be great

[2017-06-29 08:53] ace13 opened #25 "Listeners seem to not be added correctly"
Ran into a new issue with our production Jenkins today where no listeners ended up being registered.
This led to issues with all GitLab webhook calls resulting in 404 responses.

Jenkins version is 2.67
And if it helps, plugins and versions;
[code]

Managed to debug the symptom down to;

[code]

Ended up manually adding a listener for the root as a temporary solution;

[code]

No idea about the ca

[2017-06-29 10:39] Argelbargel commented on #25
On the contrary. I'm really glad to have someone testing out all the little things that i've missed ;-)
I'm just swamped with work right now so i am not sure when i'll get to look into it.
Are you using the current 0.7-dev build or the older 0.6.4?

[2017-06-29 10:40] ace13 commented on #25
This particular issue is on 0.6.4, probably not going to update it until
I've gotten a way to migrate the configuration.

On 29 Jun 2017 12:39 pm, "Karsten Kraus" <notifications@github.com> wrote:

[2017-06-29 14:26] ananace opened #26 "Seems to try to set build-status to running twice"
Got another strange issue for you to look at, though this one seems to be very rare - only happens for a single project for us.

`jenkins.log` reports;

[code]

The logger for `com.dabsquared.gitlabjenkins.gitlab.GitLabClientBuilder` meanwhile reports;

[code]

[2017-07-05 09:05] ananace opened #28 "Build status reporting as 'result' doesn't work as intended when building multiple times"
When using build status reporting set to report 'result', then each separate Jenkins build will end up being reported as a separate job for the same pipeline to GitLab.
This means that a single failed build will always mean the entire GitLab pipeline will considered to be failed, no matter how many other builds you run for it.

![screenshot_20170705_110023](https://user-images.githubusercontent.co

[2017-07-05 19:33] lainosantos opened #29 "Blue Ocean interface doesn't detail Merge Request build"
When build a Merge Request, the build is listed in blue ocean interface (pull request tab), but if I click to view pipeline details, blue ocean fails....

[2017-07-05 19:53] lainosantos commented on #29
In the blue ocean pull request view, the merge request's name is displaying as a integer number...

[2017-07-05 20:46] lainosantos opened #30 "Not setting web hooks when recreate a project"
When we create a new project, the project's webhook are setted, but if we delete and recreate that project, the webhook is deleted and not recreated

[2017-07-05 20:50] lainosantos opened #31 "Wrong name for MR in blue ocean"
In the blue ocean pull request view, the merge request name is displaying as an integer number, most likely a sequential id.

[2017-07-05 21:26] lainosantos commented on #28
Yeah. This occurs too when reporting as 'stages'.

[2017-07-05 21:42] lainosantos opened #32 "Report status from branch and MR are concfliting"
When update a branch with MR, two builds are started: the branch and the merged MR (as is configured), but the status are conflicting because they target the same commit. As there is no MR merged commit, both target a common commit.

So, we can't distinguish the MR's status from the branch's status.

I suggest report MR's status as comment in the it's discussion.

[2017-07-05 21:45] lainosantos commented on #31
Too.. summary and author are empty.

[2017-07-05 21:58] Argelbargel commented on #31
Hi @lainosantos,

thank you for your feedback. Great that there's someone trying out the plugin with blue-ocean (i'm assuming, you're using the current 0.7-dev version?).
I am currently in heavily swamped in work at my day job, so it might take some time to check on your issues.

It would be great if you could post screenshots for your issues and the version of the blue-ocean-plugin you use to mak

[2017-07-05 22:02] Argelbargel commented on #28
Jep, this is really annoying - happens with the currently released version of the gitlab-plugin to, though if i remember correctly (that's the reason we're simply ignoring the gitlab-side of the pipeline at work currently).

I'll see if i can get some clues from the comments linked by @ace13...

[2017-07-05 22:04] Argelbargel commented on #30
Damn. Thought i'd already fixed that. I'll look into it again...

[2017-07-05 22:07] Argelbargel opened #33 "Update dependencies to gitlab-plugin 1.4.6"
Make sure everything still works as expected (oh, and write. some. tests! :-)

[2017-07-06 10:07] lainosantos commented on #31
Hi @Argelbargel , congratulations to you for this great plugin.

I'm using Blue Ocean at version 1.1.4.

![image](https://user-images.githubusercontent.com/8415575/27906402-c53bc93a-6219-11e7-88b2-eb2fe436133c.png)

[2017-07-06 10:40] lainosantos commented on #29
As MR is listed

![image](https://user-images.githubusercontent.com/8415575/27907219-2f1e0946-621d-11e7-99c3-9e3f1982093d.png)

When click for datail:

![image](https://user-images.githubusercontent.com/8415575/27907162-e4cabe34-621c-11e7-821c-e4fe115e8d75.png)

:( Only a bank page, but the pipeline has stages...

If I click in the classic view icon, the redirection fails:

![image](https://user-i

[2017-07-06 10:43] lainosantos commented on #29
In blue ocean pull request tab, if I click in classic icon, it redirect to classic view branches tab, not to classic view merge request tab.

[2017-07-10 11:05] iamfletch commented on #25
First I want to say thanks to @Argelbargel for this amazing plugin. I am seeing the exact same issue here and I am running 0.6.4.1. @ace13 thanks for posting your work around snippet, saved me loads of time.

[2017-07-10 11:26] stephenc opened #34 "Recommended reference implementation"
https://github.com/jenkinsci/gitea-plugin

Is a simpler implementation of the SCM API for Gitea that is probably a good reference point for implementation. It doesn't have the distractions of Rate Limits or Data Migration that are present in the GitHub and Bitbucket implementations

[2017-07-14 15:10] luisbrandao opened #35 "Internal project naming"
Hi,

I have a gitlab and a github repo, both with organization plug-ins.
In github, inside the organization, the repo names are plain:
agent
site
rest

however in the gitlab Organization, a "full path" is show:
myorg/agent
myorg/site
myorg/rest

this "my org" in the repo name, breaks the var ${env.BRANCH_NAME}, since its get "myorg/site" instead "site"

[2017-07-14 16:09] Argelbargel commented on #35
Hmm... I'll look into it (but am swamped at work until the end of july)
Could you post a screeenshot or a summary of the settings of the gitlab-organisation settings in jenkins? E.g. are you restricting the projects to poll by group etc.?

[2017-07-14 16:28] luisbrandao commented on #35
![captura de tela de 2017-07-14 13-22-21](https://user-images.githubusercontent.com/25795753/28221066-4270fd24-6898-11e7-83d8-667f8d0b8c28.png)
![captura de tela de 2017-07-14 13-22-36](https://user-images.githubusercontent.com/25795753/28221068-447322d2-6898-11e7-80a2-4af8d7d9ab36.png)

[2017-07-14 16:31] Argelbargel commented on #35
Oh. Sorry, i meant the settings behind the "configure" link of the gitlab-organisation.

[2017-07-14 16:32] luisbrandao commented on #35
![captura de tela de 2017-07-14 13-30-06](https://user-images.githubusercontent.com/25795753/28221216-d3da905e-6898-11e7-8ccf-10a25707c56a.png)

[2017-07-14 16:33] luisbrandao commented on #35
Sorry, i missread. I only understand the question on the second time i read it XD

[2017-07-14 16:34] Argelbargel commented on #35
No problem ;-). Your using the restriction to a group - then this should be easy to fix. Are you using the 0.7-dev or the 0.6.x release?

[2017-07-14 16:35] luisbrandao commented on #35
latest: 0.6.4.1

[2017-07-20 08:59] ananace opened #37 "Build reporting as 'stages' fails to report catastrophic build failures"
Because as it turns out, if your build fails before reaching the first stage then it will not report a pipeline to GitLab.

Quite easy to test this, just push a Jenkinsfile with a fault in it and nothing will be reported to GitLab.

Perhaps this could be solved by having 'stages' reporting also run the 'result' reporting code as well?

[2017-08-03 03:48] Aeon512 opened #38 "Credentials for Git checkout not saved on dev-0.7"
Hi,
the checkout credentials are not saved when configuring git checkout.
After saving and re-opening the configuration screen it falls-back to "Anonymous".

Manually changing the job XML configuration <credentialsId> works though.

Thanks for the great plugin
/Aeon512

[2017-08-04 02:38] Aeon512 opened #39 "Marking MergeRequest as Work-In-Progress triggers another merge build"
Hi,

Let's say I have a branch with a merge request pending.
In my configuration, there is the branch listed under "Branches with Merge Requests" as well as (as a merged on) under "Merge Requests" with the "(merge)" suffix.
Everything is great.

Now let's mark this merge request as WIP by adding "WIP: " in front of the title.
The branch is now moved from "Branches with Merge Requests" to "Branches

[2017-08-08 14:35] awilhelmer opened #40 "Sub Groups are missing after Scan"
When a group has a Subgroup, e.g. "group/sub-groub/", the sub group of gitlab isn't scanned or found.
Explicit scans doesnt work too. I tried "sub-group" and "group/sub-groub" but both doesnt find anything.

[2017-08-08 15:33] awilhelmer commented on #40
I found a solution. You have to enter the ID (number) of the group, then it is working.
The ID can be accessed with the API:
`curl -H "Content-Type: application/json" -H "PRIVATE-TOKEN: TOKEN" https://gitlab.com/api/v4/groups`

[2017-08-11 13:10] awilhelmer commented on #25
I've got a (maybe stupid?) question about the workaround:
Should I add these lines in every Jenkinsfile or its enough to have one empty project with a jenkinsfile containing these lines and I execute it when the listeners are lost?

[2017-08-11 13:48] ace13 commented on #25
My solution has been to write a meta project that runs and sets the listeners, though I guess you could stick it into an `init.groovy.d` script too. At least until the bug is fixed.

[2017-08-17 11:46] awilhelmer commented on #25
Okay the listener readd project is working now. Thanks for that. But now all branches of a project are triggered instead of the branch where i pushed the commit.

[2017-08-24 09:48] awilhelmer commented on #25
Found the problem. Two things are wrong:

1. The ListenerInitializerTask is started without permissions. Starting the Thread with ` ACL.impersonate(ACL.SYSTEM, new ListenerInitializerTask());` resolves the problem.
2. The ListenerInitializerTask is started to early. The projects arent loaded at this time.
I fixed it with a sleep, not nice but working:
[code]

[2017-08-24 10:04] Argelbargel commented on #25
Ah. Ok. I think I've fixed some of it (ACL) in 0.7. But I'll have another look and fix it in 0.6.x too

[2017-08-24 11:39] Blacksheep92 opened #41 "Add Ability for Parameterized builds"
Hey,
it would be nice if you can add some parameter from the gitlab merge request hook to the build environment.

e.g.:
- gitlabMergeRequestId
- gitlabSourceNamespace
- gitlabSourceBranch
- gitlabSourceRepoSshURL
- gitlabTargetNamespace
- gitlabTargetBranch
- gitlabTargetRepoSshURL

[2017-08-24 20:35] Argelbargel commented on #25
Jup. Was already fixed in 0.7-dev. Backported the changes to 0.6.4.2. Please give it a try and shout if it still does not work as expected...

[2017-08-28 06:57] ace13 commented on #25
The issue does seems to be fixed on 0.6.4.2, haven't needed to re-add any listeners even after restarting Jenkins multiple times.

Thanks.

[2017-08-28 10:51] Argelbargel commented on #25
Ok. Then i'll close this. Thank you, guys!

[2017-08-28 10:51] #25 closed

[2017-08-30 14:54] Argelbargel commented on #41
Hi, i've just released 0.6.5 which should add the information of the hooks to the build's environment.

[2017-08-30 14:54] #41 closed

[2017-08-31 07:39] cjbush commented on #23
I'd like to +1 this enhancement request. We occasionally need to launch builds manually (e.g. if one fails due to an unrelated issue with the build node) and it's pretty annoying that the pipeline doesn't get updated when the build passes/fails.

[2017-09-21 15:32] keirlawson opened #42 "Make available via plugin registry/update center"
It would be great if this plugin could be made available via these means, I'd like to try it out on our Jenkins but we have a policy of only installing plugins that can be updated via the update centre.

[2017-09-21 15:56] Argelbargel commented on #42
There are plans to merge this plugin with the [gitlab-plugin](https://github.com/jenkinsci/gitlab-plugin) (see [issue #499](https://github.com/jenkinsci/gitlab-plugin/issues/499)).

So while i understand both your wish and your company's policy, i hesitate to release this more publicly than here as this would bind more time to further maintaining/enhancing this version instead of concentrating on

[2017-10-03 21:24] luisbrandao opened #43 "error accessing gitlab-api: null"
Out of the blue, jenkins stopped building all my gitlab repos.
The repository scan still works, but any build will throw the following error when trying to start:

[code]

I'm not even sure how to begin debugging this... Maybe some other dependency got updated and broke this plug-in... Can anyone help me with any pointers?

[2017-10-05 16:34] rsotnychenko commented on #43
Got the same problem and managed to find a workaround.

So the problem is that sometimes the plugin makes request to GitLab with extra slashes, eg.
`GET /api/v3/projects/1234567/repository/branches//master`

About a month ago, GitLab was ignoring this and replying with actual information. After some recent update they started to reply with a redirect to a correct URL. For some reasons the plugin d

[2017-10-05 20:00] Argelbargel commented on #43
Hi @rtsotnychenko, great, think for finding this! If you'll Creme a Pullover Requisiten for this i'll merge and release it asap.

[2017-10-06 11:02] Argelbargel commented on #43
@rsotnychenko: you're right of course, it'll just be a workaround. as it'll fix the symptoms for people upgrading to gitlab 10 right now. it's okay for me to release ist quickly and look for the root-cause later.

[2017-10-06 12:22] Argelbargel commented on #43
Workaround is released in 0.6.5.1

[2017-10-06 12:22] #43 closed

[2017-10-06 16:15] luisbrandao commented on #43
Fantastic, this really fixed it!
Many thanx!

[2017-10-10 18:55] cjbush opened #45 "Branch Indexing Schedules Build for Every Branch"
Anytime branch indexing runs (so when a push event occurs, or when the job configuration changes), the plugin seems to schedule a build for every branch that contains a Jenkinsfile, which just happens to be every branch. This results in something like 20 builds getting scheduled whenever someone pushes anything, which more or less takes the rest of the day. It kind of renders the plugin unusable f

[2017-10-11 14:02] Argelbargel commented on #45
Hmmm. That's strange. Which version do you use? 0.7 is not production-ready (e.g. not really tested) yet and 0.6.5.1 seemed to work fine for most users so far.
Could you attach a screenshot of the configuration settings of the gitlab-projects-folder?

[2017-10-11 15:07] cjbush commented on #45
Here's the configuration (with a few things redacted):

![image](https://user-images.githubusercontent.com/5855938/31449093-0246617c-ae74-11e7-97a2-24e00e8d8c74.png)

![image](https://user-images.githubusercontent.com/5855938/31449143-270eb7ca-ae74-11e7-8d8c-8ef221e1943d.png)

![image](https://user-images.githubusercontent.com/5855938/31449183-3f7f63ea-ae74-11e7-8bc3-b6809873c202.png)

![image](ht

[2017-10-11 16:21] Argelbargel commented on #45
Hi, could be that something esse triggers those builds. The option "Automatic branch project triggering" is added by another plug-in or a newer version of the branch- or scm-apis. I'll look into it..

[2017-10-11 17:34] cjbush commented on #45
Looking at the help dialog for it, it looks like it's from the Branch API Plugin. Should I roll that plugin back to a specific version?

[2017-10-11 17:34] cjbush commented on #45
(I have 2.0.14 installed, for the record)

[2017-10-11 18:37] Argelbargel commented on #45
The plugin is built against branch-api 2.0.9. If you could try whether this version works for your setup that would be great.

[2017-10-11 18:52] cjbush commented on #45
I rolled back to 2.0.9 and the Automatic branch project triggering option is still there. Testing now to see if it builds everything when I click Save and it runs indexing.

[2017-10-11 18:53] cjbush commented on #45
And it did. I've got 32 builds sitting in my queue now, and 8 more running on my executors.

[2017-10-12 05:18] cjbush commented on #28
Is there a work-around for this issue?

[2017-10-12 08:37] cjbush commented on #28
So just for fun I modified the publishBuildStatus method to always publish "jenkins" for the context instead of "Build ###" for the name, and this appears to have worked. Reading through the discussion @ace13 linked, it appears that the Name (or context in this case) parameter to the API call needs to be identical for the step to count as a rebuild.

[2017-10-12 08:39] cjbush commented on #45
After playing around some more and setting the automatic indexing interval to 1 minute, it appears that this is only a problem when I change the configuration of the job. When the branch indexing runs each minute, it correctly determines that there are no new changes on the branches and bails. It seems likely that this is a bug in the branch api plugin.

[2017-10-12 08:49] Argelbargel commented on #28
@cjbush: no, but i think, i narrowed down the cause for the problem. The cause seems to be that both this plugin and the gitlab-plugin use the name/context-parameter of the [build-status-api](https://docs.gitlab.com/ce/api/commits.html#post-the-build-status-to-a-commit) to differentiate the pipeline-stage or the build that was run.

According to the comments in the [issue linked](https://gitlab.co

[2017-10-12 08:51] cjbush commented on #45
OK, I take it back. I merged my master branch into a few feature branches and pushed them up and now I have 139 builds sitting in my queue. There's definitely something weird going on.

[2017-10-12 08:54] Argelbargel commented on #45
Damn. And i just now hoped the problem had gone away :-/ I'm not sure how to test/find the problem you're having, though...

[2017-10-12 08:58] cjbush commented on #45
I'm wondering if disabling the system hook and just using the 1 minute polling interval will fix the problem. Let me try that and get back to you. It'll take me a few minutes because I need to remove the job to get rid of the 140 builds and then I have to purge my GitLab pipelines to reset everything.

[2017-10-12 09:08] ace13 commented on #28
I can add that reporting as 'stages' works fine, at least for the ~200 projects we're now running with the branch source plugin.

But yeah, if you don't want per-stage reporting then something needs to be done, and I get the feeling that people are - in almost all cases - only going to be interested in the build that actually applies as the result for the commit, so having it overwrite the old bui

[2017-10-12 09:10] cjbush commented on #45
OK, that appears to be a reasonable workaround. I just pushed up another feature branch after merging master into it (I made a pretty substantial change to our Jenkinsfile and nobody else has it, so I'm propagating it everywhere :) ) and it spawned 2 jobs. One for the branch, and one for the PR where it merges the branch back into master. We can live with a one minute delay.

[2017-10-12 09:12] cjbush commented on #28
@Argelbargel if you want I can open a PR and let you look at the change I made. I need to clean it up a little first.

[2017-10-12 09:30] Argelbargel commented on #28
@cjbush: that would be great. I think, we'll have to enhance that a bit to make the behaviour configurable as to not break uses like that of @ace13 but it'll be a base for that.

[2017-10-12 09:37] ace13 commented on #28
I mean, as long as the change doesn't effect build status reporting as
'stages' - which it really shouldn't need to - then my use case won't be
affected.

On 12 Oct 2017 11:31, "Karsten Kraus" <notifications@github.com> wrote:

[2017-10-12 10:06] Argelbargel commented on #28
Ah. Ok, that would be a reasonable solution. I've to look at the code to be sure, but i think, i use the same methods for both cases e.g. to ensure currently running stages get properly when a pipeline build fails reported but that should be easy to adjust.

[2017-10-12 13:45] cjbush commented on #45
So unfortunately it appears that the index polling workaround doesn't work either. Every once in a while someone will push something up and it'll kick off 30+ builds. I looked at the polling log and noticed that many copies of things like this were in it:

`Takeover for <merge request name> by source #1 from source that no longer exists
Retrieving merge request 624...
Merge Request reopened: !381

[2017-10-12 15:52] cjbush commented on #45
Thinking now this may be a related issue:

https://issues.jenkins-ci.org/browse/JENKINS-42432

[2017-11-01 09:09] ananace opened #46 "Build status publishing broken with gitlab-plugin 1.5.0+"
[code]

Most likely related to the return type change from jenkinsci/gitlab-plugin#614

[2017-11-10 10:41] smutel opened #47 "Ignore SSL Certificate Errors does not work when scanning GITLAB"
Hello,

I think that I have setup this module correctly but ...

 I have a strange behavior. When I go to the GITLAB configuration (in Configure System), I have the error message : "API Token for Gitlab access required". However the credentials is correctly setup and I click on "TEST connection" button and the result is SUCCESS.

I am not able to scan projects. Here are the message displayed durin

[2017-11-10 10:45] smutel commented on #18
Hi. This feature is very interesting for me too. I can test 0.7 version also if you guide me where to find it. Thanks.

[2017-11-11 15:50] Argelbargel commented on #18
@smutel you can download it here: https://github.com/Argelbargel/gitlab-branch-source-plugin/releases/tag/0.7-dev

[2017-11-17 18:17] Argelbargel commented on #46
@ace13: could you give [0.6.6](https://github.com/Argelbargel/gitlab-branch-source-plugin/releases/tag/0.6.6) a try? This release is built against the current version of the gitlab-plugin...

[2017-11-21 14:09] smutel commented on #18
Upgrade the plugin with version 0.7-dev.
Have this error #47 again.

Received message below about configuration:

[2017-11-21 14:10] smutel commented on #47
Same issue with 0.7-dev. Any idea?

[2017-11-21 15:21] smutel commented on #47
- In the global configuration I select "Ignore SSL Certificate Errors".
- However the scan is not working with messages below:

[2017-11-21 16:12] Argelbargel commented on #47
@smutel: i've updated the dev-branch (see [0.7.1-dev](https://github.com/Argelbargel/gitlab-branch-source-plugin/releases/tag/0.7.1-dev)) and the release branch (see [0.6.6.2](https://github.com/Argelbargel/gitlab-branch-source-plugin/releases/tag/0.6.6.2)) so that the internal api used for those api-calls which gitlab-plugin does not have.

Both versions should now respect the setting of "Ignore

[2017-11-21 16:19] #46 closed, assigned to Argelbargel

[2017-11-21 16:40] ananace opened #48 "Builds completely broken on 0.6.6.2"
[code]

Downgraded to 0.6.6.1 and it seems to work fine on there.

[2017-11-21 16:41] ace13 commented on #46
Thanks for the reminder about this btw, works fine on here as well

[2017-11-21 16:52] Argelbargel commented on #48
Damn! I. Need. Tests :-/

[2017-11-21 17:13] Argelbargel commented on #48
Okay, let's try [0.6.6.3](https://github.com/Argelbargel/gitlab-branch-source-plugin/releases/tag/0.6.6.3)...

[2017-11-21 18:21] ace13 commented on #48
Exact same error with 0.6.6.3 too, and I noticed that it fails to acquire listeners as well

[code]

[2017-11-21 18:40] Argelbargel commented on #48
Hrmpf! [0.6.6.4](https://github.com/Argelbargel/gitlab-branch-source-plugin/releases/tag/0.6.6.4)...

[2017-11-21 18:43] ace13 commented on #48
Builds seem to be working again, but I still see a few failed hook registrations in the log. Quite a lot of successful ones too though.

[2017-11-21 18:45] Argelbargel commented on #48
Strange. Are you still getting read-timeout for the failing registrations=. This change now only sets whether certificate-errors get ignored or not so it should use the default read-timeout as with 0.6.6.1.

[2017-11-21 18:56] ace13 commented on #48
Maybe related to the sheer number of registrations that Jenkins does on
launch, got over 200 projects through it after all

On 21 Nov 2017 19:46, "Karsten Kraus" <notifications@github.com> wrote:

[2017-11-21 19:00] Argelbargel commented on #48
Can you check whether the timeout occured before you upgraded to 0.6.6.2?

[2017-11-21 19:01] ace13 commented on #48
I'll try to check once I have time

On 21 Nov 2017 20:00, "Karsten Kraus" <notifications@github.com> wrote:

[2017-11-22 10:44] smutel commented on #47
OK. Thanks. It seems to work now.
I encounter other issues with 0.7.2-dev:

java.net.SocketTimeoutException: Read timed out
	at java.net.SocketInputStream.socketRead0(Native Method)
	at java.net.SocketInputStream.socketRead(SocketInputStream.java:116)
	at java.net.SocketInputStream.read(SocketInputStream.java:171)
	at java.net.SocketInputStream.read(SocketInputStream.java:141)
	at sun.security.ssl

[2017-11-22 12:04] Argelbargel commented on #47
Please try [0.7.3-dev](https://github.com/Argelbargel/gitlab-branch-source-plugin/releases/tag/0.7.3-dev)...

[2017-11-22 12:20] smutel commented on #47
Works better thanks.
Now I think that I have the bug #38.
The checkout credentials are not populated in each project configuration.

	at org.jenkinsci.plugins.gitclient.CliGitAPIImpl.launchCommandIn(CliGitAPIImpl.java:1970)
	at org.jenkinsci.plugins.gitclient.CliGitAPIImpl.launchCommandWithCredentials(CliGitAPIImpl.java:1689)
	at org.jenkinsci.plugins.gitclient.CliGitAPIImpl.access$300(CliGitAPIIm

[2017-11-22 12:22] Argelbargel commented on #47
Ok. Then i'll close here.

[2017-11-22 12:23] #47 closed

[2017-11-23 08:51] smutel commented on #38
Hello,

I think that it's linked but ...
The credentials are not populated to the job. So I got this error:

@Aeon512 Could you please give details of your workaround?

Thanks.

[2017-11-23 16:27] Aeon512 commented on #38
@smutel: Make your Change, configure you job. Save. Now open the XML file corresponding to your job in the Jenkins Jobs folder on your hard disc and edit the gitlab section. In particular fill out the missing credentialsId.
Save the XML and in Jenkins Manage reload the configuration from disc.

[2018-01-09 16:28] tostt commented on #38
With version 0.7.3-dev, every time I hit "save" in the configuration screen, the XML gets written with `<credentialsId>ANONYMOUS</credentialsId>`, overwriting whatever happens to be there.

This means that every time you change the job configuration, you have to edit and reload the XML.
And even if the XML has a correct <credentialsId> and I reload the config from files, I still get the error :  A

[2018-01-17 15:55] derTobsch commented on #38
We have the same problem.

[2018-01-18 09:33] derTobsch opened #51 "Master does not build (different problems)"
Hey,
first of all I really like this projects as far as I know it :) But there are two major problems why the master does not build.

**First**
You are using AbstractGitSCMSource#isExcluded in `GitLabSCMSource` that is deprecated since 3.4.0
and you are using

[code]
and now the enforcer will stop the build from working.

**Second**
You are using the class `import org.jenkinsci.plugins.workflow.st

[2018-01-21 08:26] hibes opened #52 "Scan failing due to serialization problem"
Not sure what is going on here.  The scan isn't working, so it never builds the group info.

[code]

[2018-01-21 15:02] Argelbargel commented on #51
Hi @derTobsch ,

ouch, this should not be. To be honest, i could not spent much time on this project in the last month as it gets either stalled by me spending time moving and furnishing my new flat or by my working hours extending in the evenings.

Thus the state of master is, well, not good. I'll see that i get it in a state that it least builds again sometime soon. Until then you could try buil

[2018-02-09 09:55] tostt commented on #38
I did some more testing. If the git plugin section is correctly configured, it doesn"t seem to be a problem that the GitLab-Connection checkout credentials are reset to anonymous. But I notice that other settings are reset too. In my case, the "Monitor Tags" and "Build Tags" (in the "Monitoring & Build-Strategy" section) are reset too, which prevents me from triggering releases on new tags.

[2018-02-11 09:56] martiwi commented on #52
Same problem, if it can help, here the plugin version I use:

- branch-api ~~2.0.9~~ -> 2.0.18
- cloudbees-folder ~~6.0.4~~  -> 6.3
- credentials ~~2.1.13~~  -> 2.1.16
- git ~~3.3.0~~  -> 3.7.0
- git-client ~~2.4.5~~  -> 2.7.1
- gitlab-plugin ~~1.4.5~~  -> 1.5.3
- scm-api ~~2.1.1~~  -> 2.2.6
- workflow-api ~~2.13~~  -> 2.25
- workflow-cps ~~2.30~~  -> 2.44
- workflow-job ~~2.11~~  -> 2.17
- workfl

[2018-02-12 13:18] ananace commented on #52
This is due to [JEP-200](https://jenkins.io/blog/2018/01/13/jep-200/) as of Jenkins 2.102
It could probably be worked around by finding all of the classes that attempt serialization and adding them to the whitelist.

As described in their blog entry; `-Dhudson.remoting.ClassFilter=some.pkg.and.ClassName,some.pkg.and.OtherClassName`

[2018-02-12 21:59] martiwi commented on #52
Indeed working with the following classes:
[code]
Any plan to have it working without?

[2018-02-14 01:30] Argelbargel commented on #52
Seems simple enough to fix by providing a ClassFilter file. I'll try to look into it but as you guy might have sorely noticed, i'm a bit busy now with other work. I'll see what i can do...

[2018-02-27 11:13] awilhelmer commented on #45
I've got se same problem. Everytime when i create a new GitLab project i switch the configuration of the field "Branch names to build automatically" to no value, scan the Gitlab Repo and change the config value back to ".*". If i forget this change all projects and branches are in the building queue, and this is definitely too much for my jenkins instance ...

[2018-03-01 11:55] frznlogic commented on #38
+1. We have this same issue on the 0.7-dev branch.

[2018-03-01 11:57] derTobsch commented on #51
Hey sorry that it took so long. I have a new project at my company :) I think you know what that means. But we have a "Slack" Friday and I am planning to look into this plugin in the next weeks.

@Argelbargel you live in Baden-Baden or? I am working in Karlsruhe so maybe we could meet in person and hack this plugin? :)

[2018-03-01 11:58] frznlogic commented on #33
gitlab-plugins is at 1.5.3 now so .... :) Tests are missing though possibly:)

[2018-03-01 12:24] frznlogic commented on #51
Hi @derTobsch , I think this has been solved in the latest 0.7-dev branch/tags? It builds fine for me at least right now ;)

[2018-03-01 12:29] frznlogic opened #54 "Failed jenkins builds are reported as successful in gitlab"
builds marked as Failed in Jenkins are actually reported as passed in gitlab.

This is clearly wrong and would create false positive builds in gitlab and hence increasing trust in builds/merge requests which should not be trusted.

This was tested using latest 0.7.4 dev release with gitlab 10.4.2.

[2018-03-01 14:42] Argelbargel commented on #33
:-)

[2018-03-01 14:42] #33 closed

[2018-03-01 15:04] martinotu opened #55 "0.7.4-dev - Authentication info are not saved"
Hi,

let me tell you how happy am I to have found this project! ;-)

I tried it immediately as this will fix a lot of issues I am having with jenkins-gitlab integration but unfortunately the "Checkout credentials" inside "GitLab-Connection"are not saved and I cannot checkout!

Hope this will be fixed soon and thanks again for the amazing work!

Mt.
<img width="693" alt="screen shot 2018-03-01 at 1

[2018-03-01 15:27] frznlogic commented on #54
Closing this as I figured out I'm completely off :D

[2018-03-01 15:27] #54 closed

[2018-03-01 16:02] derTobsch commented on #51
@frznlogic than we should merge this into master? :)

[2018-03-01 22:11] Argelbargel commented on #51
Hi guys,

just some short info about the structure of the project:

- branch release contains the "stable" branch which we use at work and which was quickly adopted as soon as i published the project. i try to make only minor changes here to keep it backwards-compatible
- 0.7-dev began life as a feature-branch for #18. For this a reworked the way the settings are managed (and obviously broke them)

[2018-03-01 22:16] Argelbargel commented on #51
@derTobsch: yes, i live in Baden-Baden. Meeting in person would be nice. I've got a release coming up at work in the first week of april, so i'm not sure that i've got the time this month. But i'll see what i can do and will send you an email...

[2018-03-03 17:29] Argelbargel commented on #51
Ok. The former 0.7-dev branch is now the master branch. 0.7-dev was removed. so now master is building again.

[2018-03-03 17:29] #51 closed

[2018-03-03 18:55] #38 closed

[2018-03-03 18:57] Argelbargel commented on #38
Hi guys, credentials and other settings should be fixed with [0.7.5-dev](https://github.com/Argelbargel/gitlab-branch-source-plugin/releases/tag/0.7.5-dev)

[2018-03-03 18:59] Argelbargel commented on #55
please see #38. should be fixed with [0.7.5-dev](https://github.com/Argelbargel/gitlab-branch-source-plugin/releases/tag/0.7.5-dev)

[2018-03-03 18:59] #55 closed

[2018-03-03 19:04] Argelbargel commented on #18
@i386: could you have a look at [0.7.5-dev](https://github.com/Argelbargel/gitlab-branch-source-plugin/releases/tag/0.7.5-dev) and check if single SCMSources work?

[2018-03-05 10:25] tostt commented on #38
The problem is solved, thank you for fixing it.

[2018-03-05 10:54] frznlogic commented on #38
Confirmed, it's fixed :)

[2018-03-05 10:57] frznlogic commented on #40
We have the same issue :). According to some testing my colleagues did, it's possible that the issue is within gitlab itself though. Doing the "correct" search pattern directly against the gitlab api turns up an empty set.

[2018-03-05 22:34] martinotu commented on #55
Thanks!

Verified to work on 0.7.5-dev

[2018-03-07 11:03] martinotu commented on #45
Same issue for me with version 0.6.6.4.
Any workaround ?

[2018-03-07 12:25] martinotu commented on #45
So, what I have noticed is that (I have created few gitlab source project) each different gitlab project has the same system-hook.

When I do a commit in a project A it will trigger as well project B and C which is a an issue as we first no need those build and second is overloading Jenkins machine(s)

[2018-03-07 13:09] Argelbargel commented on #45
@martinotu: The common system-hook should not be the cause as the plugin should filter out projects which are not affected by the change. This system-hook is required so that the plugin is informed about newly created projects.

While I get why this make the plugin unusable to you, i currently have not found a way to fix this :-/

[2018-03-07 13:26] Argelbargel commented on #45
No. You could try the current dev-release which should support adding a gitlab-project as a scm-source and create the required projects by hand.

[2018-03-07 13:52] martinotu commented on #45
I trie it but the dev-release doesn't update gitlab when there is a
failure. So all the jobs are green even if there is a failure.
Thanks anyway

2018-03-07 8:29 GMT-05:00 Karsten Kraus <notifications@github.com>:

--
-----------------------------------------------------
Chi non ha apprezzato il suo maestro né la sua lezione, un giorno sarà
forse colto, ma non sarà mai saggio.

Numero telefonico 0

[2018-03-07 14:06] Argelbargel commented on #45
Oh. That's a new bug :-/ Should be easier to fix, though. I'll look into it.

[2018-03-07 14:07] Argelbargel opened #56 "Gitlab-Pipeline is not updated when build fails"
According to @martinotu's comment in #45:

I trie it but the dev-release doesn't update gitlab when there is a
failure. So all the jobs are green even if there is a failure.

[2018-03-18 23:20] martinotu commented on #56
Any update on this?

[2018-03-22 11:41] frznlogic commented on #52
Hi, experiencing the same issue since a day or two ago, the ClassFilter mentioned by @martiwi isn't enough though for me, not sure if I'm doing something incorrect right now though.

@Argelbargel I'm not sure how to do that in a ClassFilter file, I tried adding a file like this: src/main/resources/hudson.remoting.ClassFilter with this content:

[code]
Compiled, installed the plugin but it's not wo

[2018-03-22 11:43] frznlogic opened #57 "Scan failing due to serialization issues"
The scan fails due to some serialization issues.

[code]

[2018-03-22 11:44] frznlogic commented on #52
I created #57 which is probably a duplicate of this issue to add my error output. Please close as duplicate if it's nothing new ;).

[2018-03-22 13:48] Argelbargel commented on #57
Note to self: see https://github.com/jenkinsci/workflow-support-plugin/pull/50/files

[2018-03-23 15:27] grfullerton commented on #52
@frznlogic I've got a PR open that should work.  Your changes didnt work because the ClassFilter should have been in `src/main/resources/META-INF/hudson.remoting.ClassFilter`, you forgot the `META-INF` folder.

[2018-03-23 16:48] #52 closed

[2018-03-23 17:01] #57 closed

[2018-03-23 17:03] Argelbargel commented on #57
released the fix provided by @grfullerton (thanks!) as [0.7.6-dev](https://github.com/Argelbargel/gitlab-branch-source-plugin/releases/tag/0.7.6-dev) and [0.6.6.5](https://github.com/Argelbargel/gitlab-branch-source-plugin/releases/tag/0.6.6.5)

[2018-03-23 17:03] Argelbargel commented on #57
released the fix provided by @grfullerton (thanks!) as [0.7.6-dev](https://github.com/Argelbargel/gitlab-branch-source-plugin/releases/tag/0.7.6-dev) and [0.6.6.5](https://github.com/Argelbargel/gitlab-branch-source-plugin/releases/tag/0.6.6.5)

[2018-03-30 14:59] dwd-build opened #59 "500 when doing merge request event from gitlab"
Hiya, great plugin so far! We are trying to use this plugin, but we get some 500 internal server errors when we try to do a merge request even from gitlab to jenkins.

The actual exception:
`Hook executed successfully but returned HTTP 500 java.lang.Exception at org.kohsuke.stapler.HttpResponses.error(HttpResponses.java:83) at argelbargel.jenkins.plugins.gitlab_branch_source.hooks.GitLabSCMWebHook

[2018-03-30 21:40] Argelbargel commented on #59
Hmmm... The stacktrace does not really contain enough information to pinpoint the problem :-/ Which version of the plugin are you using?

[2018-04-03 19:33] grfullerton commented on #18
@Argelbargel I've been able to use Multibranch Pipelines with this plugin without issue.

[2018-04-04 12:55] dwd-build commented on #59
We had this problem with 0.7.5-dev and upgraded to 0.7.6-dev but that has the same issue.

[2018-04-04 13:01] Argelbargel commented on #59
Push events work though?

[2018-04-04 13:03] dwd-build commented on #59
Push events return a 200 so they seem to work correctly.

[2018-04-04 13:28] werthen commented on #59
Just ran into the exact same error on a new installation of the plugin.

[2018-04-05 11:53] smutel opened #62 "/ replaced by %2F in JOB_NAME"
Hello,

/ are replaced by %2F in the folder name.

We can see this here:
![image](https://user-images.githubusercontent.com/12967891/38364271-2f565638-38d8-11e8-8c20-71b334409d56.png)

Or in the pipeline, in the JOB_NAME variable, we can have also %2F to separate GITLAB group.
I checked the current issues but I didn't find any issue related to this.

In this case the split function with character

[2018-04-05 12:56] dwd-build commented on #59
upgraded plugin to 0.7.6.1-dev - same stuff

[2018-04-05 13:53] Argelbargel commented on #62
I know. I develop the plugin for the older gitlab-version we're using at work which does not support sub-groups. I'll try to add sub-group-support or at least fix the name-display...

[2018-04-05 14:58] smutel opened #63 "Webhooks not setup automatically"
Hello,

Could you please give me some information on this topic:
1. What is the prerequisites for the plugin to setup the webhooks automatically (version of GITLAB, user permission, ...) ?
2. How to troubleshoot ?
3. Can I setup the webhook manually and how?

Thanks.

[2018-04-05 14:59] smutel commented on #62
Workaround is useful for me, thanks.

[2018-04-05 16:24] grfullerton commented on #63
1. I'm pretty sure any "Master" or "Owner" can setup webhooks.  So if the Gitlab Access Token used in Jenkins is either of these, the webhooks can be setup automatically, as far as I know. I'm not sure about Gitlab version

2. In gitlab, if you go to a Project > Settings > Integrations, you'll be able to see existing webhooks, they should be listed below the form to add a new webhook.  The URL wil

[2018-04-06 09:24] smutel commented on #63
Thanks for this information.
Stupid I am ... jenkins user was reporter ... now it works fine.

[2018-04-06 09:24] #63 closed

[2018-04-10 11:03] smutel opened #64 "Display tags in another tab"
Hello,

It will be great to display the tags in a different tab as done in multibranch plugin.

![image](https://user-images.githubusercontent.com/12967891/38553396-70abe40a-3cbf-11e8-9f54-51354e4fec41.png)

Thanks.

[2018-04-16 13:44] ilushka85 opened #65 "Gitlab.com Hosted Version API Issues"
Find projects tries to load all projects from the api.  In the hosted version of gitlab available at www.gitlab.com it includes all public versions.... this is wrong.

[2018-04-16 13:46] ilushka85 commented on #65
Sending a pr to fix this.

[2018-04-16 14:02] jaytaph commented on #59
It might have to do with a segfault i'm noticing while tracing jenkins during a merge request event trigger:

[code]

[2018-04-16 16:18] ilushka85 opened #67 "Cloudbees folders 6.4 Issue"
ERROR: [Mon Apr 16 11:09:33 CDT 2018] Could not fetch branches from source 764295fb-7c7a-44cf-9595-26296a466ae4
com.fasterxml.jackson.databind.JsonMappingException: No content to map due to end-of-input
 at [Source: ; line: 1, column: 1]
	at com.fasterxml.jackson.databind.JsonMappingException.from(JsonMappingException.java:148)
	at com.fasterxml.jackson.databind.ObjectMapper._initForReading(Object

[2018-04-16 16:47] ilushka85 commented on #43
this is not fixed in the latest version

[2018-04-16 16:47] #67 closed

[2018-04-17 13:47] ilushka85 opened #68 "Schedule Merge Request Open / Update to Build does not work"
It appears in the latest version that if you check

Monitor & Build Merge Requests from Origin
and
Build merged with base branch

The job does not work when using multibranch pipeline.

[2018-04-17 17:30] ilushka85 commented on #59
I have the same issue.  In tracing it down it is caused because the Action property of the hook event is not translated to the enum and left as null.  This is a problem in the gitlab plugin.  I will notify them and send a pr there to correct it, but will also submit a pr here to work around this for now.

[2018-04-17 18:10] ilushka85 commented on #68
Closing as this is a duplicate

[2018-04-17 18:10] #68 closed

[2018-04-18 07:08] smutel commented on #56
Have the same issue ...

[2018-04-18 08:41] dwd-build commented on #59
Tried the fix of @ilushka85 - seems to work. Thanks for this! :)

[2018-04-25 07:51] frznlogic commented on #56
Same issue.

[2018-04-25 20:38] lautou opened #69 "repository_update events are not handled"
Since GitLab 9.3 a new System Hook event has been introduced : repository_update.
Doc: https://docs.gitlab.com/ce/system_hooks/system_hooks.html#repository-update-events
Issue : https://gitlab.com/gitlab-org/gitlab-ce/issues/26325
As consequence, we are not able to process such event when a new projet is created on GitLab:

`ignoring system hook: cannot handle system-hook SystemHook{created=null,

[2018-05-07 16:26] ghost opened #70 "MergeRequest does not trigger build"
Hello,

I'm running Jenkins 2.89.4, Gitlab 9.1.0, Jenkins Gitlab Plugin 1.5.5 and Gitlab Branch Source plugin from source.
I'm able to add a new project in Jenkings, build are triggered when I push on branches but when I create a Merge Request nothing happen. How can I debug this and/or provide more useful informations ?

[2018-05-07 19:02] ilushka85 commented on #70
I have a pr that fixes this.....

[2018-05-16 11:56] #56 closed

[2018-05-17 09:03] Argelbargel commented on #59
Ok. Great. So i'm closing this and will try to merge the changes into the dev-branch some time this week...

[2018-05-17 09:03] #59 closed

[2018-05-18 09:00] sancelot opened #72 "syncinc gitlab and jenkins pipeline job"
Hi,
My gitlab and jenkins pipelines job numbers differ .
Is there some way to have same number.

I think that if I trigg a manual build in jenkins that will not increase gitlab one ...

Regards,
S.Ancelot

[2018-05-18 15:30] bartse commented on #70
I can confirm regular push events are not picked up any more from 0.6.7
I had to downgrade to version 0.6.6.6 to have this working again(events are received when checking the events log but no actual job is being triggered)

[2018-05-21 09:11] Ralstlin opened #74 "Thanks, Question and Bug"
First of all thanks for this plugin, it help a lot for people using gitlab as homelabs!

Second the question, I am doing an API POST call on the pipeline to create an asset based on the branch being built if it doesnt exists, and I want that asset to exists as long as the branch exists. My problem is that I dont know how can I trigger a DELETE call when the branch is removed by the Gitlab scanner.

[2018-05-21 13:10] mortonl opened #75 "Archived GitLab projects are still loaded into Jenkins"
**Issue:** Projects archived in GitLab appear as projects in Jenkins under GitLab folder.
**Expected Behavior:** Archived projects are not loaded into Jenkins.

[2018-05-28 15:06] mardy opened #76 "Posting more result metadata to GitLab"
Hi!
  We are currently using this plugin and reporting build information (stages, and final success/failure result) back into GitLab. However, I couldn't find a way to pass extra data, such as coverage results.

Is it possible to somehow pass an extra string of information back to GitLab? I could use it to write the percentage of code coverage, or maybe a link to the artifact file where this infor

[2018-05-28 19:45] Ralstlin opened #77 "Unable to use gilab environment variables on manual trigger"
Hi!

If I try to rerun the build it fails because i am using `gitlabSourceBranch` and it doesnt exists.

Any way to keep these on rerun?

[2018-05-31 09:30] sancelot opened #78 "build and workspace folder issue"
Hi
my workspaceDir and buildsDir are defined as follow :

config.xml:  <workspaceDir>/nfs/solaris/JENKINS_BUILDS/${ITEM_FULLNAME}/workspace</workspaceDir>
config.xml:  <buildsDir>/nfs/solaris/JENKINS_BUILDS/${ITEM_FULLNAME}/builds</buildsDir>

my gitlab site is numagit.myorg.com

and my projects are stored in group in numagit like:
MACHINES_STANDARD:R21

the problem is with the workspace folder na

[2018-06-01 13:46] kalpesh6641 opened #79 "Getting this plugin under the Jenkins Plugins repository"
Will we be promoting this plugin under the Jenkins Plugins repository? https://updates.jenkins-ci.org/download/plugins/

[2018-06-03 02:32] geniousphp commented on #45
I have the same issue. The projects/branches indexing builds each branch that contains `Jenkinsfile`. I'd like to trigger build only by push webhooks.
To work around it, I simply added a condition in my `Jenkinsfile` to abort builds triggered by the indexing
[code]

[2018-06-05 08:52] acarmel commented on #76
You can use the 'addGitLabMRComment' step
[code]

[Gilab Plugin Steps](https://jenkins.io/doc/pipeline/steps/gitlab-plugin/#code-addgitlabmrcomment-code-add-comment-on-gitlab-merge-request)

[2018-06-08 09:15] mardy commented on #76
Thanks, this will perfectly cover my needs!

[2018-06-08 09:15] #76 closed

[2018-06-14 11:31] Argelbargel opened #81 "Project-Scan fails for empty projects"
Navigator must detect and skip these...

[2018-06-19 12:40] sancelot opened #82 "issue with Jenkins scm"
Hi,

My jenkins configurations are stored in a git repository stored in gitlab each time they are modified using scm sync.

For unknown reason, each time jenkins pulls or make a build, a comit is done from jenkins
a diff displays the id is being modified in job config.xml

        <source class="argelbargel.jenkins.plugins.gitlab_branch_source.GitLabSCMSource" plugin="gitlab-branch-source@0.7.6.1-

[2018-06-26 15:42] alexkoepke opened #83 "Finished organization scan. Finished: NOT_BUILT"
[code]

Jenkins: `2.121.1`
GitLab Branch Source Plugin: `0.6.6.6` and `0.6.7`
GitLab: `11.0.1-ce.0`

Not sure where to look for more errors. Thanks in advance.

[2018-06-27 11:19] VFUC commented on #83
GitLab API v3 has been removed in GitLab 11.0 - this might cause these issues ?

[2018-07-05 16:34] ki0 opened #84 "Error scan projects with token"
Hi there,

I dont know what its the reason but when i tried to scan the gitlab, i get this error, the test connection is ok and i use the gitlab connection in my jenkinsfile:

`java.lang.IllegalStateException: No gitlab-api-token found for id: b4c8532c-8e36-4994-bda7-679341334803
	at argelbargel.jenkins.plugins.gitlab_branch_source.GitLabHelper.gitLabApiToken(GitLabHelper.java:63)
	at argelbargel.

[2018-07-16 08:14] tnijboer opened #86 "failed to accept merge-request"
We're having issues that new builds not being accept by gitlab.

I found this in the logs, could it be the listeners crashed?

`failed to accept merge-request
java.lang.NullPointerException: RESTEASY004670: value was null
	at org.jboss.resteasy.client.jaxrs.internal.ClientWebTarget.resolveTemplate(ClientWebTarget.java:138)
	at org.jboss.resteasy.client.jaxrs.internal.ClientWebTarget.resolveTemplat

[2018-07-16 11:58] daniel-beck commented on #79
Duplicates #42.

[2018-07-20 14:38] daniel-beck opened #88 "Plugin is lacking a security contact"
It is unclear what the security contact (or security issue reporting policy in general) of this plugin is.

[2018-07-27 14:31] stewartwebb opened #89 "Branch deletion prevents other builds in project"
Getting a bug where the plugin will prevent building of any branch in a project if one branch that was previously available has been deleted.

After deleting the branch from the Jenkins ui the problem is resolved.
[code]

[2018-07-29 05:35] timurb opened #90 "doesn't build pushes"
I can't make the plugin do the builds on common pushes.

Merge requests are built fine when created and updated.
Pushes and removal of  merge requests are not -- they show up in logs but no action is taken in Jenkins.
If I click "Scan Gitlab Project Now" everything goes as expected (builds happen when needed and old MRs are removed) but I'd want to avoid polling.

Any ideas what could be wrong? Is

[2018-07-31 14:14] jbaehr commented on #84
Same here, using v0.6.7

[2018-08-01 10:30] Argelbargel commented on #88
Hmmm. What do you mean exactly? You've found a security-related problem which you do not want to create an issue for?

[2018-08-01 10:34] Argelbargel commented on #90
Hi, did you try if it works with 0.6.6? This is the last release which i confirmed as working at least for me. 0.6.7 was a release to check/test a pr and should be marked as pre-release. I know, that is not perfect but currently i've got little time to maintain this project...

[2018-08-01 10:42] daniel-beck commented on #88
It's unclear what the process should be. If you want security vulnerabilities to be reported openly, that's fine, but that's not stated either.

[2018-08-01 14:08] Argelbargel commented on #88
Hmm. Did not think about this yet. As this is basically just a private github repo and the plugin is not distributed via the jenkins-update-site (yet), i'd like to keep it simple without an extra mail-account and such. On the other hand, as i do not have much time currently to do fixes for this, public security-related issues would make users vulnerable. I'll think about it and come back to you...

[2018-08-08 13:12] timurb commented on #90
Yes, in 0.6.6.6 this apparently works. Thank you for a quick response!

[2018-08-08 13:12] #90 closed

[2018-08-30 09:41] ghost opened #92 "Branch deleted after creating a merge request"
Hi,

When I create a merge request in gitlab the source branch is "deleted" in Jenkins (his name is strikethrough) and I'm not able to trigger the build of that branch anymore. If I remove the branch in Jenkins the branch is re-created but I need to manually run the build

[2018-09-04 15:58] DmitryMihailov opened #93 "Jenkins always return success for every pipeline stage, even if some of the stages failed"
Jenkins always publishes green status for every pipeline stage, even if some of the stages failed  and Jenkins overall build marked as failed.
<img width="229" alt="screen shot 2018-09-04 at 17 55 04" src="https://user-images.githubusercontent.com/23633956/45042880-0b756680-b06c-11e8-9014-13a7df9a9ded.png">

Jenkins Job configuration:
![image](https://user-images.githubusercontent.com/23633956/450

[2018-09-24 12:08] ghost opened #94 "Cannot use a custom build strategy"
Hi !

I want to add the capability to not trigger a build based on the commit Author. This feature is not implemented in this plugin so I've installed the [ignore-committer-strategy-plugin](https://github.com/jenkinsci/ignore-committer-strategy-plugin) and added his provided Build strategy in a Gitlab Project. The build strategy is executed (I can see this in the Jenkins log) but the build is trig

[2018-09-25 17:46] serge2016 opened #95 "Mistakes in readme"
Hello!
When I check dependencies I can't find several of them. So I suggest to replace them with:
cloudbees-folder 6.0.3 --> Folders Plugin (https://wiki.jenkins.io/display/JENKINS/CloudBees+Folders+Plugin)
workflow-api 2.12 --> Pipeline: API (https://wiki.jenkins.io/display/JENKINS/Pipeline+API+Plugin)
workflow-cps 2.29 --> Pipeline: Groovy (https://wiki.jenkins.io/display/JENKINS/Pipeline+Groovy

[2018-10-01 12:52] jbomaileva commented on #45
Same issue here, but I don't want to manage the current build result. How can I debug that ?

[2018-10-05 12:37] daniel-beck commented on #95
Preferred plugin URLs are now at plugins.jenkins.io.

[2018-10-05 12:48] serge2016 commented on #95
@daniel-beck
My question is about readme.md in this repository. I thank the readme should be corrected.

[2018-10-05 13:09] daniel-beck commented on #95
I understand that. To clarify:
You write: https://wiki.jenkins.io/display/JENKINS/CloudBees+Folders+Plugin
I propose: https://plugins.jenkins.io/cloudbees-folder

[2018-10-05 14:27] serge2016 commented on #95
@daniel-beck
Oh, I see! This is a great idea!

[2018-10-22 16:59] StefanKoenen commented on #93
@DmitryMihailov I just tested this issue, and it looks like it's working as expected to me?
Can you assist with a basic pipeline setup which I can use to reproduce this issue?

![image](https://user-images.githubusercontent.com/1442819/47306369-86024180-d62c-11e8-80e1-16de89816517.png)
![image](https://user-images.githubusercontent.com/1442819/47306380-8a2e5f00-d62c-11e8-87c6-faeef71b2d89.png)

[2018-10-22 17:02] StefanKoenen commented on #86
@tnijboer Please give us some more information so we are able to solve this issue. What are you trying to do (what are the settings you are using) and what is the expected result?

[2018-10-22 17:17] alexkoepke commented on #86
If you updated GitLab recently this plugin does not support version 4.0 of
the GitLab api.
On Mon, Oct 22, 2018 at 1:04 PM Stefan <notifications@github.com> wrote:

--
Alex Koepke
(513) 236-7281

[2018-10-23 08:54] timurb commented on #45
I think this commit should fix the issue: https://github.com/rhysm/gitlab-branch-source-plugin/commit/4b58526604a1a838ec1a2bae6d9d5a54056cbc9b

Don't know if `project.getPathWithNamespace()` should be there or something different -- just make sure it is unique across all the projects.

[2018-10-23 08:57] timurb opened #96 "Restrict users from creating job with empty filter"
It would be great if we could in some way restrict users from creating Gitlab branch source job with empty filter (blank group ID, etc).

When the job is created it triggers the whole organization scan and a build queue of few dozens of projects.

[2018-10-23 09:01] casz commented on #45
@timurb yes they need to be given an ID otherwise this happens 😅 it is in the SCM api spec.

[2018-11-11 07:42] lifeofguenter commented on #83
same issue with `Jenkins ver. 2.138.3` + `gitlab branch: 0.6.6.6` + `gitlab plugin: 1.5.10` + gitlab.com (e.g. latest)

[2018-12-06 06:44] matejdro opened #98 "Prevent plugin from renaming the project"
Right now it appears that adding "Gitlab Project" source to Multibranch project will also rename the jenkins project to the name of the Gitlab project. Is there a way to prevent this?

[2018-12-19 07:48] matejdro opened #99 ""Monitor & Build Origin Branches" cannot be disabled"
I want my Jenkins to only build branches that have MR. But it appears that "Monitor & Build Origin Branches" option is always active, even when unchecked in settings.

It seems like regardless of the state of this option, plugin will start to build branches that are not part of any merge requests.

As a workaround, I have added this to my `Jenkinsfile`:

[code]

[2019-02-06 14:31] Lars-Jakobsen-3Shape opened #100 "Jenkins.getInstance().getRootUrl() returns null when running jenkins in a docker container with custom javakeystore mapped"
We are running a jenkins master in a docker image using jcasc where if the jenkins base url is not set then the following line will return null, even if the url is derived fine when viewing settings through jenkins UI.

https://github.com/Argelbargel/gitlab-branch-source-plugin/blob/24ce26fd5aeeab1ed25ab73bd3d81d13d99ea82c/src/main/java/argelbargel/jenkins/plugins/gitlab_branch_source/hooks/GitLab

[2019-02-21 19:23] heron182 commented on #45
Any updates / workaround on this issue ?

[2019-02-22 14:18] oxygenxo commented on #26
Hi,
I see the same message when using Jenkins GitLab plugin. I'm afraid that the problem is in GitLab API... it doesn't allow to set status on the same commit twice. We're facing it when trying to call 'Jenkins please retry the build' functionality

[2019-03-04 10:33] Tibor17 opened #101 "Plugin triggers all branches if only one received push event"
@Argelbargel
The problem is that all branches run the build whenever a commit went to the only one branch.
Is it understandable or should I post pictures with configuration.
Have you noticed this issue in your environment?
I am using Jenkins 2.150.3 and latest versions of prerequisite plugins.

[2019-03-07 09:23] Tibor17 commented on #101
@Argelbargel
@paulerickson
@lautou
@ilushka85
@rpannek
I am wondering you are using this plugin successfully I have a permanent problem with executing branches. If I commit to one, all branches execute their build in particular project. This is wrong and the only one branch should execute the build. I do not use webhooks but 1 minute times as configured in GUI for this plugin in Jenkins. Do you ha

[2019-03-07 14:49] rpannek commented on #101
Hm we don't have this exact problem, the only problem we have right now is that branch-builds and mr-builds are displayed in the same tab, where they were displayed in different ones before. But we do triger builds from Gitlab with the webhook and not by time.

[2019-03-07 15:24] Tibor17 commented on #101
@rpannek
@Argelbargel
I am trying to isolate the issue two weeks. Changing the config and committing.
Now I found the root cause.
The problem was with attached `Jenkins Libraries`.
This plugin does not `remember` the previous commit hash of Jenkins Libraries and it still `thinks` it is a new and thus all the branches are rebuilt. Of course I do not commit to Jenkins Libraries. They stay intact two

[2019-03-08 00:34] paulerickson commented on #101
Whoa, that sounds awful.  I have it manage webhooks (and recommend it) so I don't get this all the time. I do have it set to scan every day, if we're thinking of the same setting, and it does rebuild the world.  I figured this was just to detect Jenkinsfiles in new projects or catch up in case of missed events.  It didn't really occur to me that it should keep track like my old polling freestyle j

[2019-03-08 12:14] Tibor17 commented on #101
This awful behavior still presents when without Jenkins Libraries. We will check it out with webhooks.
@paulerickson How you configured one webhook for organization `org` (http://gitlab-server/org/repo)? We have only possibility to add a webhook per repository `repo` (http://gitlab-server/org/repo) in GitLab.

[2019-03-14 15:54] ilushka85 commented on #101
We are still using it and do not have this issue.  Does anyone know if the regular gitlab plugin now properly supports merge request builds for multi branch?

[2019-03-19 19:27] deckrider commented on #45
I am also having this issue (0.7.7-dev and latest prerequisites on latest LTS Jenkins).

Every index scan builds all projects again, even though no source code changes on branch.

[2019-03-19 19:32] deckrider commented on #101
Possibly caused by:

https://github.com/Argelbargel/gitlab-branch-source-plugin/issues/45

[2019-03-20 02:57] paulerickson commented on #45
Hmm, I'm trying to trace through what the Github plugin would do there, and it looks like the constructor used in [rhysm@4b58526](https://github.com/rhysm/gitlab-branch-source-plugin/commit/4b58526604a1a838ec1a2bae6d9d5a54056cbc9b) is [marked deprecated](https://github.com/jenkinsci/git-plugin/blob/master/src/main/java/jenkins/plugins/git/AbstractGitSCMSource.java#L170-L178) and the [GithubScmSour

[2019-03-21 02:28] deckrider commented on #45
Instead of...

super(project.getPathWithNamespace());

I used...

setId(project.getPathWithNamespace());

It is not deprecated, and appears to solve my problem.

[2019-05-15 05:03] baymac opened #105 "Releasing GitLab Branch Source Plugin to Jenkins"
Hi all,

I am accepted to Google Summer of Code 2019 under Jenkins and my project is based on adding Multibranch Pipeline Support to GitLab.

Generally the SCM plugins are divided into 3 separate plugins, namely:

1) SCM-api-plugin: For wrapping <scm> API into a plugin

2) SCM-plugin: For build triggers, auth and webhooks management

3) SCM-branch-source-plugin: For branches, MRs, tags indexing an

[2019-05-21 09:06] Argelbargel commented on #105
@baymac: That sounds just great. While "my" plugin works for me and the company i work for and - not least thanks to their contributions - for some others, i've never found the time to maintain it properly after the initial release. Not to speak of the plan to integrate this with the gitlab-plugin which did not get over the stage of some initial planning...

Thus i'd be grateful if you're project

[2019-06-07 05:33] dastanko commented on #23
+1

[2019-06-07 14:42] guillaumelecerf commented on #99
Fixed in https://github.com/Argelbargel/gitlab-branch-source-plugin/pull/104/files

[2019-06-07 14:43] guillaumelecerf commented on #23
+1

[2019-06-11 08:25] Argelbargel commented on #99
@matejdro: as @guillaumelecerf fixed this, i'm closing here...

[2019-06-11 08:25] #99 closed

[2019-07-14 03:36] baymac commented on #105
Hi @Argelbargel and other users,

I have made some progress in the development of GitLab Branch Source Plugin. The source code can be found [here](https://github.com/jenkinsci/gitlab-branch-source-plugin/). My version of GitLab BS Plugin took a lot of inspiration from your plugin and [`Gitea Plugin`](https://github.com/jenkinsci/gitea-plugin/).

Currently, we have an [Alpha release](https://github

[2019-07-29 15:58] baymac commented on #105
Hi @Argelbargel ,

Just rechecking if you would work with me to fix an issue currently I am facing with the web hook. I am unable to trigger any SCM Events. I would really appreciate if I can receive some kind of help with this. We are just one step away from making a stable release this week. Let me know. :)

[2019-08-14 05:56] akramahvaraki opened #107 "how enbale note event webhook in multi branch pipeline"

[2019-08-14 05:58] akramahvaraki commented on #107
Hi any body. I use gitlab branch source plugin in multi branch pipeline. unfortunately I cannot use note event and issue event trigger on it. please help me

[2019-10-24 21:19] #88 closed

[2019-11-21 12:15] jcgleissner commented on #92
@ghost do you still have this issue? Did you find a way to resolve it?
We're facing exactly that issue on version 0.7.3-dev.
We've suspected that as soon as there are more than 50 Branches loaded, some branches randomly will be disabled.

[2019-12-03 11:27] Argelbargel commented on #92
Hi. Could you try if the new gitlab-branch-source-plugin (https://plugins.jenkins.io/gitlab-branch-source) fixes this issue? As the company i work for is itself switching to that plugin, i most probably will not make any changes the the code of this plugin (not that i've spent much time on it in the past year in any case :-/)

[2019-12-03 11:28] Argelbargel commented on #101
Hi. Could you try if the new gitlab-branch-source-plugin (https://plugins.jenkins.io/gitlab-branch-source) fixes this issue? As the company i work for is itself switching to that plugin, i most probably will not make any changes the the code of this plugin (not that i've spent much time on it in the past year in any case :-/)

[2019-12-03 11:29] Argelbargel commented on #100
Hi. Could you try if the new gitlab-branch-source-plugin (https://plugins.jenkins.io/gitlab-branch-source) fixes this issue? As the company i work for is itself switching to that plugin, i most probably will not make any changes the the code of this plugin (not that i've spent much time on it in the past year in any case :-/)

[2019-12-03 11:29] Argelbargel commented on #98
Hi. Could you try if the new gitlab-branch-source-plugin (https://plugins.jenkins.io/gitlab-branch-source) fixes this issue? As the company i work for is itself switching to that plugin, i most probably will not make any changes the the code of this plugin (not that i've spent much time on it in the past year in any case :-/)

[2019-12-03 11:30] Argelbargel commented on #96
Hi. Could you try if the new gitlab-branch-source-plugin (https://plugins.jenkins.io/gitlab-branch-source) fixes this issue? As the company i work for is itself switching to that plugin, i most probably will not make any changes the the code of this plugin (not that i've spent much time on it in the past year in any case :-/)

[2019-12-03 11:32] Argelbargel commented on #95
Hi. With the advent of the new gitlab-branch-source-plugin (see https://plugins.jenkins.io/gitlab-branch-source), i will most probably not make any changes to the code of this plugin.

[2019-12-03 11:32] #95 closed

[2019-12-03 11:35] Argelbargel commented on #94
Hi. Could you check, whether the new gitlab-branch-source-plugin (see https://plugins.jenkins.io/gitlab-branch-source) plays more nicely with custom build-strategies?
With the advent of the new (much better supported) plugin, i most probably will not make any relevant changes to the code of this plugin

[2019-12-03 11:35] #94 closed

[2019-12-03 11:35] Argelbargel commented on #89
Please see the new, supported plugin at https://plugins.jenkins.io/gitlab-branch-source

[2019-12-03 11:35] #89 closed

[2019-12-03 11:36] Argelbargel commented on #84
Please see the new and supported plugin at https://plugins.jenkins.io/gitlab-branch-source

[2019-12-03 11:36] #84 closed

[2019-12-03 11:38] #28 closed

[2019-12-03 11:38] #29 closed

[2019-12-03 11:38] #31 closed

[2019-12-03 11:38] #32 closed

[2019-12-03 11:38] #34 closed

[2019-12-03 11:38] #37 closed

[2019-12-03 11:38] #40 closed

[2019-12-03 11:38] #42 closed

[2019-12-03 11:38] #45 closed

[2019-12-03 11:38] #48 closed

[2019-12-03 11:38] #64 closed

[2019-12-03 11:38] #65 closed

[2019-12-03 11:38] #72 closed

[2019-12-03 11:38] #74 closed

[2019-12-03 11:38] #77 closed

[2019-12-03 11:38] #78 closed

[2019-12-03 11:38] #79 closed

[2019-12-03 11:38] #81 closed

[2019-12-03 11:38] #82 closed

[2019-12-03 11:38] #83 closed

[2019-12-03 11:38] #93 closed

[2019-12-03 11:38] #101 closed

[2019-12-03 11:38] #105 closed

[2019-12-03 11:38] #107 closed

[2019-12-03 11:38] #22 closed

[2019-12-03 11:38] #24 closed

[2019-12-03 11:38] #26 closed

[2019-12-03 11:39] #100 closed

[2019-12-03 11:39] #98 closed

[2019-12-03 11:40] #1 closed

[2019-12-03 11:40] #6 closed

[2019-12-03 11:40] #9 closed

[2019-12-03 11:40] #13 closed

[2019-12-03 11:40] #15 closed

[2019-12-03 11:40] #18 closed

[2019-12-03 11:40] #20 closed

[2019-12-03 11:40] #23 closed

[2019-12-03 11:40] #30 closed

[2019-12-03 11:40] #35 closed

[2019-12-03 11:40] #39 closed

[2019-12-03 11:40] #62 closed

[2019-12-03 11:40] #69 closed

[2019-12-03 11:40] #70 closed

[2019-12-03 11:40] #75 closed

[2019-12-03 11:40] #92 closed

[2019-12-03 11:40] #96 closed

[2019-12-03 14:46] daniel-beck commented on #95
@Argelbargel Time to archive this repo then to make it clear to users?

[2019-12-05 09:24] Lars-Jakobsen-3Shape commented on #100
Hi

Thanks for the reply, yeah we already switched to that and even contributed I believe.

BR
Lars

From: Karsten Kraus <notifications@github.com>
Sent: 3. december 2019 12:29
To: Argelbargel/gitlab-branch-source-plugin <gitlab-branch-source-plugin@noreply.github.com>
Cc: Lars Jakobsen <Lars.Jakobsen@3shape.com>; Author <author@noreply.github.com>
Subject: Re: [Argelbargel/gitlab-branch-source-pl

[2019-12-09 16:47] Argelbargel commented on #95
Great idea! Did not know one could do this. I'll do that right away! Thanks ;-)